In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("Iris.csv")

In [4]:
from sklearn import preprocessing

In [5]:
encoder = preprocessing.LabelEncoder()

In [7]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
df["Species"] = encoder.fit_transform(df["Species"])

In [9]:
data = df.groupby(["Species"])

In [10]:
data

In [11]:
data.groups.keys()

dict_keys([0, 1, 2])

In [12]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

# Mean

In [13]:
df.groupby(["Species"])["SepalWidthCm"].mean()

Species
0    3.418
1    2.770
2    2.974
Name: SepalWidthCm, dtype: float64

In [14]:
df.groupby(["Species"])["SepalLengthCm"].min()

Species
0    4.3
1    4.9
2    4.9
Name: SepalLengthCm, dtype: float64

In [15]:
df.groupby(["Species"])["PetalWidthCm"].max()

Species
0    0.6
1    1.8
2    2.5
Name: PetalWidthCm, dtype: float64

In [16]:
df.groupby(["Species"])["SepalWidthCm"].var()

Species
0    0.145180
1    0.098469
2    0.104004
Name: SepalWidthCm, dtype: float64

In [17]:
df.groupby(["Species"])["SepalWidthCm"].std()

Species
0    0.381024
1    0.313798
2    0.322497
Name: SepalWidthCm, dtype: float64

In [18]:
import statistics

In [19]:
df.groupby(["Species"])["SepalWidthCm"].apply(statistics.mode)

Species
0    3.4
1    3.0
2    3.0
Name: SepalWidthCm, dtype: float64

In [20]:
import numpy as np

In [21]:
data = df.groupby(["Species"])

In [23]:
data.agg([np.sum, np.mean ,np.max])

/var/folders/ns/p4d34cjj71bdyy246s3kqc700000gp/T/ipykernel_1403/353856206.py:1: FutureWarning: The provided callable <function sum at 0x10fa72480> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum, np.mean ,np.max])
/var/folders/ns/p4d34cjj71bdyy246s3kqc700000gp/T/ipykernel_1403/353856206.py:1: FutureWarning: The provided callable <function mean at 0x10fa73560> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data.agg([np.sum, np.mean ,np.max])
/var/folders/ns/p4d34cjj71bdyy246s3kqc700000gp/T/ipykernel_1403/353856206.py:1: FutureWarning: The provided callable <function max at 0x10fa72b60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.agg([np.sum, np.mean ,np.max])

           Id             SepalLengthCm             SepalWidthCm              \
          sum   mean  max           sum   mean  max          sum   mean  max
Species
0        1275   25.5   50         250.3  5.006  5.8        170.9  3.418  4.4
1        3775   75.5  100         296.8  5.936  7.0        138.5  2.770  3.4
2        6275  125.5  150         329.4  6.588  7.9        148.7  2.974  3.8

        PetalLengthCm             PetalWidthCm
                  sum   mean  max          sum   mean  max
Species
0                73.2  1.464  1.9         12.2  0.244  0.6
1               213.0  4.260  5.1         66.3  1.326  1.8
2               277.6  5.552  6.9        101.3  2.026  2.5

In [ ]:
df.groupby(